# Dependencies
node_modules/

# Build output
dist/

# IDE
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local

# TypeScript cache
*.tsbuildinfo

# Package lock (opcional, descomenta si no lo quieres)
# package-lock.json
.metals/metals.lock.db
.metals/metals.mv.db
.vscode/settings.json
.scala-build/.bloop/functionalPrograming_d5c0a6989e-test.json
.scala-build/.bloop/functionalPrograming_d5c0a6989e.json
